<!doctype html>
<head>
	</head>
	<body>
<p><em>Lyric Search By Artist/Song</em></p>
<br/>
<form action="/lyric-search/" method="POST">
	<label for="artist-name">Artist Name</label>
	<input type="text" name="artistName" id="artistName">
<br>
	
	<label for="song-name">Song Name</label>
	<input type="text" name="songName" id="songName">
<br>
	
	<label for="token">Genius Token</label>
	<input type="text" name="tokenName" id="tokenName">	
<br>
	<input type="submit" value="Search For Lyrics">
</form>
</body>

</html>